
.inline-block{
  display: inline-block;
}

.center{
  margin: auto;
}

.rounded-box{
  margin: 20px;
  padding: 10px;
  background-color: #FFFFFF;
  min-height: 500px;
}

.titled-box-title{
/*  color: rgba(0, 0, 0, 0.5) !important;
*/}

.color-opacity{
  color: rgba(0, 0, 0, 0.5) !important;
}

.titled-box-content{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px
}

.titled-box-outer{
  background-color: #FFFFFF;
  min-height: 500px;
  margin: 20px;
  /*border-radius: 12px;*/
  border: 1px solid rgb(130,130,130)

}