<link href="//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.css" rel="stylesheet" type="text/css" />

<ul class="list-group">
  <% @decks.each do |deck| %>
    <li class="list-group-item">
      <%= link_to deck_path(deck) do %>
        <%= "#{deck.name} (#{deck.match_wins} Wins)" %>
      <% end %>
      <% deck.get_colors.each do |c| %>
        <% next if c.length > 1 %>
        <%= render 'shared/mana_symbol', color: c.downcase %>
      <% end %>
    </li>
  <% end %>
</ul>

