<p id="notice"><%= notice %></p>

<%= render 'shared/titled_box', title: "#{@deck.name} (#{@deck.match_wins} Wins)" do %>
  <%= render 'navigation', active: "data" %>

  <%= pie_chart @deck_chart_data[:chart_data], colors: @deck_chart_data[:colors], adapter: "google" %>

<% end %>